$carbon: #a9a9a9;
$neutral: #efefef;
$watermelon: #ff383f;
$sky: #caebf2;
$deep-carbon: #545454;

h2 {
  margin-top: 5vh;
  text-align: center;
}

.carousel {
  align-items: center;
  background-color: $sky;
  border: 3px $carbon solid;
  border-radius: 10px;
  display: flex;
  margin: 5vh auto 0;
  max-width: 60vw;
  min-height: 50vh;
  padding: 25px;

  .carousel-control-next-icon {
    background-color: $watermelon;
    border-radius: 5px;
  }

  .carousel-control-prev-icon {
    background-color: $watermelon;
    border-radius: 5px;
  }

}

.slide-content {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 85%;

  ol {
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-top: 2.5vh;
  }

  .carousel {
    margin: 2.5vh auto 0;
    max-width: 100vw;
    min-height: 50vh;
    overflow: auto;
  }
}
