$black: #000;
$charcoal: #bbb;
$carbon: #a9a9a9;
$deep-carbon: #545454;
$leather: #ab987a;
$neutral: #efefef;
$watermelon: #ff383f;
$sky: #caebf2;

nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.main-header {
  align-items: center;
  background-color: rgba(255, 56, 63, .75);
  border-bottom: 1px solid $deep-carbon;
  display: flex;
  min-height: 100px;
  padding: 0 20px;

  a {
    color: $black;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    margin: 0 15px;
    text-align: right;
  }

  button {
    background-color: $neutral;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
  }

  .navbar-nav > span {
    color: $black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    text-align: right;
  }

  .navbar-brand {
    color: $black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
  }

  .navbar-collapse {
    margin: 1em 0;
  }
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: .7em;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: row;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
    }

    button {
      width: 3.5rem;
    }

    .navbar-nav > span {
      text-align: center;
    }

    .navbar-brand {
      font-size: 1.25rem;
    }
  }
}
